<?xml version="1.0" ?>

<config>
    <modules>
        <Integrai_Core>
            <version>1.0.20</version>
        </Integrai_Core>
    </modules>

    <frontend>
        <routers>
            <integrai>
                <use>standard</use>
                <args>
                    <module>Integrai_Core</module>
                    <frontName>integrai</frontName>
                </args>
            </integrai>
        </routers>
        <layout>
            <updates>
                <integrai_core module="Integrai_Core">
                    <file>integrai_core.xml</file>
                </integrai_core>
            </updates>
        </layout>
    </frontend>

    <global>
        <models>
            <integrai>
                <class>Integrai_Core_Model</class>
                <resourceModel>integrai_resource</resourceModel>
            </integrai>
            <integrai_resource>
                <class>Integrai_Core_Model_Resource</class>
                <entities>
                    <config>
                        <table>integrai_config</table>
                    </config>
                    <events>
                        <table>integrai_events</table>
                    </events>
                    <process_events>
                        <table>integrai_process_events</table>
                    </process_events>
                </entities>
            </integrai_resource>
        </models>

        <helpers>
            <integrai>
                <class>Integrai_Core_Helper</class>
            </integrai>
        </helpers>

        <resources>
            <integrai_setup>
                <setup>
                    <module>Integrai_Core</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
            </integrai_setup>
        </resources>

        <blocks>
            <integrai>
                <class>Integrai_Core_Block</class>
            </integrai>
            <page>
                <rewrite>
                    <html_head>Integrai_Core_Block_Html_Head</html_head>
                </rewrite>
            </page>
        </blocks>

        <events>
            <!-- criação de conta de usuário -->
            <customer_register_success>
                <observers>
                    <observer>
                        <class>Integrai_Core_Model_Observer</class>
                        <method>customerRegisterSuccess</method>
                    </observer>
                </observers>
            </customer_register_success>

            <!-- assinatura da newsletter -->
            <newsletter_subscriber_save_after>
                <observers>
                    <observer>
                        <class>Integrai_Core_Model_Observer</class>
                        <method>newsletterSubscriberSaveAfter</method>
                    </observer>
                </observers>
            </newsletter_subscriber_save_after>

            <!-- adicionar produto ao carrinho -->
            <checkout_cart_product_add_after>
                <observers>
                    <observer>
                        <class>Integrai_Core_Model_Observer</class>
                        <method>checkoutCartProductAddAfter</method>
                    </observer>
                </observers>
            </checkout_cart_product_add_after>

            <!-- criação de pedido -->
            <sales_order_place_after>
                <observers>
                    <observer>
                        <class>Integrai_Core_Model_Observer</class>
                        <method>salesOrderPlaceAfter</method>
                    </observer>
                </observers>
            </sales_order_place_after>

            <!-- antes de salvar pedido -->
            <sales_order_save_after>
                <observers>
                    <observer>
                        <class>Integrai_Core_Model_Observer</class>
                        <method>salesOrderAfterSave</method>
                    </observer>
                </observers>
            </sales_order_save_after>

            <!-- cancelar pedido -->
            <order_cancel_after>
                <observers>
                    <observer>
                        <class>Integrai_Core_Model_Observer</class>
                        <method>orderCancelAfter</method>
                    </observer>
                </observers>
            </order_cancel_after>

            <!-- notificações no detalhe do pedido no admin -->
            <core_block_abstract_to_html_after>
                <observers>
                    <observer>
                        <class>Integrai_Core_Model_Observer</class>
                        <method>getSalesOrderViewInfo</method>
                    </observer>
                </observers>
            </core_block_abstract_to_html_after>

            <!-- criar ou edita produto -->
            <catalog_product_save_after>
                <observers>
                    <observer>
                        <class>Integrai_Core_Model_Observer</class>
                        <method>createOrEditProduct</method>
                    </observer>
                </observers>
            </catalog_product_save_after>

            <!-- deletar produto -->
            <catalog_product_delete_after>
                <observers>
                    <observer>
                        <class>Integrai_Core_Model_Observer</class>
                        <method>deleteProduct</method>
                    </observer>
                </observers>
            </catalog_product_delete_after>
        </events>

    </global>

    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <integrai_core>
                                            <title>Integrai - All</title>
                                        </integrai_core>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>

        <translate>
            <modules>
                <integrai_core>
                    <files>
                        <default>Integrai_Core.csv</default>
                    </files>
                </integrai_core>
            </modules>
        </translate>

        <layout>
            <updates>
                <integrai_core>
                    <file>integrai_core.xml</file>
                </integrai_core>
            </updates>
        </layout>
    </adminhtml>

    <default>
        <integrai_core>
            <general>
                <enable>1</enable>
            </general>
        </integrai_core>

        <carriers>
            <integrai_shipping>
                <active>1</active>
                <model>integrai/carrier</model>
                <title>Serviços de Entrega</title>
                <sort_order>0</sort_order>
            </integrai_shipping>
        </carriers>

        <payment>
            <integrai_pix>
                <active>1</active>
                <model>Integrai_Core_Model_Payment_Pix</model>
                <title>Pix</title>
                <payment_action>sale</payment_action>
                <sort_order>0</sort_order>
            </integrai_pix>
            <integrai_boleto>
                <active>1</active>
                <model>Integrai_Core_Model_Payment_Boleto</model>
                <title>Boleto</title>
                <payment_action>sale</payment_action>
                <sort_order>0</sort_order>
            </integrai_boleto>
            <integrai_creditcard>
                <active>1</active>
                <model>Integrai_Core_Model_Payment_CreditCard</model>
                <title>Cartão de Crédito</title>
                <payment_action>sale</payment_action>
                <sort_order>1</sort_order>
            </integrai_creditcard>
            <integrai_marketplace>
                <active>1</active>
                <model>Integrai_Core_Model_Payment_MarketPlace</model>
                <title>Marketplace</title>
                <payment_action>sale</payment_action>
                <sort_order>1</sort_order>
            </integrai_marketplace>
        </payment>
    </default>

    <crontab>
        <jobs>
            <integrai_abandoned_cart>
                <schedule>
                    <cron_expr>0 */5 * * *</cron_expr>
                </schedule>
                <run>
                    <model>integrai/observer::abandonedCart</model>
                </run>
            </integrai_abandoned_cart>

            <integrai_customer_birthday>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>integrai/observer::customerBirthday</model>
                </run>
            </integrai_customer_birthday>

            <integrai_resend_backup_event>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>integrai/api::resendBackupEvents</model>
                </run>
            </integrai_resend_backup_event>

            <integrai_process_events>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>integrai/api::processEvents</model>
                </run>
            </integrai_process_events>
        </jobs>
    </crontab>
</config>
